@keyframes coca-dual-ring-anime {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes progress-bar-preview {

	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@keyframes coca-reading-progress-animate-shine {

	0% {
		opacity: 0;
		width: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		width: 95%;
	}
}

@keyframes coca-reading-progress-animate-shine {

	0% {
		opacity: 0;
		width: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		width: 95%;
	}
}

@keyframes coca-reading-progress-animate-shine {

	0% {
		opacity: 0;
		width: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		width: 95%;
	}
}

@keyframes coca-reading-progress-animate-glow {

	0% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}

	50% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 30%) inset, 0 -5px 5px rgb(255 255 255 / 30%) inset;
	}

	100% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}
}

@keyframes coca-reading-progress-animate-glow {

	0% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}

	50% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 30%) inset, 0 -5px 5px rgb(255 255 255 / 30%) inset;
	}

	100% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}
}

@keyframes coca-reading-progress-animate-glow {

	0% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}

	50% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 30%) inset, 0 -5px 5px rgb(255 255 255 / 30%) inset;
	}

	100% {
		box-shadow: 0 5px 5px rgb(255 255 255 / 70%) inset, 0 -5px 5px rgb(255 255 255 / 70%) inset;
	}
}
